.element-preview {
	padding: 10px;
}

.btn {
	padding: 12px 48px;
	border-radius: 2px;
	display: inline-block;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
}

.btn--large {
	padding: 18px 72px;
}

.btn--small {
	padding: 8px 24px;
}

/** PRIMARY BUTTON */

.btn--primary {
	background: linear-gradient(90deg, #FFD300 0%, #FFE700 100%);
	box-shadow: inset 0 -1px 0 0 #FFC000;
}

.btn--primary:hover {
	background: #FFE700;
	box-shadow: inset 0 -1px 0 0 #FFC000;
}

.btn--primary:focus {
	background: linear-gradient(90deg, #FFD300 0%, #FFE700 100%);
	box-shadow: inset 0 -1px 0 0 #FFC000, 0 0 0 4px rgba(157,173,183,0.5);
	outline: none;
}

.btn--primary:active {
	background: #FFE700;
	box-shadow: inset 0 -1px 0 0 #FFC000, 0 0 0 4px rgba(0,153,218,0.5);
}

/** SECONDARY BUTTON */

.btn--secondary {
	border: 1px solid #0099DA;
}